extends base

include _userRow
include _reviewRow
include _bookingRow

block prepend head 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

block content 
    .container
        h2.heading-secondary= `${resourceType}s`

        <div class="container-xl">
            <div class="table-responsive">
                <div class="table-wrapper">
                    table(class="table table-striped table-hover table-bordered" data-resource= resourceType)
                        <thead>
                            <tr>
                                if resourceType === 'user'
                                    include _userTableHeads
                                if resourceType === 'review'
                                    include _reviewTableHeads
                                if resourceType === 'booking'
                                    include _bookingTableHeads
                            </tr>
                        </thead>
                        <tbody>
                            for el,i in data
                                if resourceType === 'user'
                                    +userRow(el,i+1)
                                if resourceType === 'review'
                                    +reviewRow(el,i+1)
                                if resourceType === 'booking'
                                    +bookingRow(el,i+1)
                        </tbody>
                    </table>
                </div>
            </div>  
        </div>   
